<ion-header [translucent]="true">
  <ion-toolbar class="ion-no-border">
    <ion-button [routerDirection]="'root'" [routerLink]="['/folder/inbox']" slot="start" fill="clear">
      <ion-icon color="success" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">
        <h1>Cadastro</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label class="input-login-label" position="stacked">Nome</ion-label>
        <ion-input type="text" [(ngModel)]="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="input-login-label" position="stacked">Sobrenome</ion-label>
        <ion-input type="text" [(ngModel)]="sobrenome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="input-login-label" position="stacked">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="input-login-label" position="stacked">Endereço</ion-label>
        <ion-input type="text" [(ngModel)]="endereco"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="input-login-label" position="stacked">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
    </ion-list>
    <div style="margin-top: 20px">
      <ion-text class="ion-text-center">
        <div style="margin-top: 13px; font-size: 10px; color: gray; padding-left: 20px; padding-right: 20px;">
          Ao continuar confirmo que li e concordo com os Termos e Condições e Política de Privacidade
        </div>
      </ion-text>
      <ion-button shape="round" color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/congratulations']">Cadastrar</ion-button>
    </div>
  </div>
</ion-content>